{% extends "main.html" %}
{% block title %}"INDEX"{% endblock %}
{% block content %}
<section>
	Current user: {{request.user.username}}
	<div>
		<h1>TOP PERSONS:</h1>
		{% for user in users %}
		 <a href="user/{{user.user.id}}">{{user.user.username}}</a> 
		{% endfor %}
	</div>
	<div>
		<h1>TOP RECORDS</h1>
		{% for rec in records %}
		 <a href="uploads/{{user.id}}/{{rec.id}}">{{rec.title}}</a> 
		{% endfor %}
	</div>
</section>

{% endblock %}