{% extends "main.html" %}
{% block content %}
<div class="col-md-4 col-md-offset-4 register-form" >
	<form role="form" action="{% url 'user_login' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="email" >E-mail</label>
			<input type="email" name="email" id="email" class="form-control"> 
		</div>
		<div class="form-group">
			<label for="password" >Enter Password Here:</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit">Login</button>
		</div>
	</form>
</div>
<script type="text/javascript">
$(function(){
	var $form = $('form');
	
	$form.on('submit',function(){
		console.log($form.serialize())
		$.ajax({
			url:$form.attr('action'),
			method:$form.attr('method'),
			data:$form.serialize(),
			dataType: 'json',
			success:function(response){

				console.log(response);

				if(response.status == 'ok'){
					
					location.href = response.nextpage;
				}
			}
		})

		return false;
	})
});
</script>


{% endblock %}