{% load static %}


<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/rating.css' %}">

	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/audio.min.js' %}"></script>

	<script type="text/javascript">
	audiojs.events.ready(function() {
    	var as = audiojs.createAll();
  	});
 
	</script>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
	{% if not request.user.is_authenticated %}
		<div class="col-md-1 col-md-offset-11">
			<a href="{% url 'user_login' %}">LogIn</a>
			<a href="{% url 'user_register' %}">Register</a>
		</div>
	{% else %}
		<div class="col-md-1 col-md-offset-11">
			<a href="http://localhost:8000/user/{{request.user.id}}">Profile</a>
			<a href="{% url 'user_logout'  %}">Logout</a>
		</div>
	{% endif %}
</header>
	{% block content %}{% endblock %}
</body>

</html>