{% extends "main.html" %}
{% block content %}
<div>
	<h1>Hello {{user.username}}! </h1>
	<a href="{% url 'upload_audio' %}" class="btn btn-default">Upload Audio</a>
	<div>
		
		{% for obj in rc %}

		<div>
			<audio>
				<source src="../../uploads/{{user.id}}/{{obj.id}}" type="audio/mpeg">
			</audio>
		</div>
			

		{% endfor %}
	</div>
</div>

{% endblock %}