{% extends 'main.html' %}
{% block content %}
<section>

	<h1>{{rec.title}}</h1>
	<h2>Rating: {{rating|floatformat:2}}</h2>
	<audio>
		<source src="http://localhost:8000/uploads/{{request.user.id}}/{{rec.id}}">
	</audio>
	{% if request.user.user_profile.is_voted not in rec.is_voted  %}
	<form class="vote" method='post' role='form' action="../records/{{rec.id}}">
		{% csrf_token %}
		<input name="vote" type="radio" class="star" value="1"/>
		<input name="vote" type="radio" class="star" value="2"/>
		<input name="vote" type="radio" class="star" value="3"/>
		<input name="vote" type="radio" class="star" value="4"/>
		<input name="vote" type="radio" class="star" value="5"/>
	</form>
	{% endif %}
<script type="text/javascript">
</section>
$(function(){
	$('input').on('change',function(){
     		
     	   // Returns full URL
     	   	console.log($('form').serialize())
     	   	console.log({{url}});
    		$.ajax({
    			method:'POST',
    			async:true,
    			url: '../../records/{{rec.id}}/',
    			data: $('form').serialize(),
    			dataType:'json',
    			success: function(response){
    				$('.vote input').prop('disabled','true');
    				
    			}
    		});
    	
	});
});
</script>
{% endblock %}