{% extends "main.html" %}
{% block content %}
<div>
	<h1>{{user.username}}</h1>
	<div>
		RATING:
		{{user.user_profile.rating}}
	</div>
	{% for obj in records %}

		<div>
			<audio>
				<source src="../../uploads/{{user.id}}/{{obj.id}}" type="audio/mpeg">
			</audio>
		</div>
			

		{% endfor %}
</div>

{% endblock %}