{% extends "main.html" %}
{% block content %}
<div class="col-md-4 col-md-offset-4 register-form" >
	<form role="form" action="{% url 'upload_audio' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="title" >Title:</label>
			<input type="text" name="title" id="title" class="form-control"> 
		</div>
		<div class="form-group">
			<label for="file" >File:</label>
			<input type="file" name="file" id="file" class="form-control" accept="audio/*"> 
		</div>
		<div class="form-group">
			<button type="submit">Upload</button>
		</form>
		
</div>

{% endblock %}